---

- hosts: group_name
  remote_user: root
  vars_files:
    - vars.yaml

  vars:
    - script_path: "{{ script_dir | default('/tmp/uams') }}"
  environment:
    UAMS_ACCESS_TOKEN: "{{ uams_access_token }}"

  tasks:
    - name: Create installation script directory -> {{ script_path }}
      ansible.builtin.file:
        path: "{{ script_path }}"
        state: directory
        mode: 0755

    - name: Download uamsclient_install.sh
      ansible.builtin.get_url:
        url: https://agent-binaries.cloud.solarwinds.com/uams/latest/uamsclient_install.sh
        dest: "{{ script_path }}"
        mode: 0755

    - name: Execute the script
      ansible.builtin.command: sh "{{ script_path }}"/uamsclient_install.sh
      changed_when: false
      register: installation_output

    - name: Display script output
      ansible.builtin.debug:
        msg:
          - "{{ installation_output.stdout }}"
