---
- name: Check if package type is rpm
  ansible.builtin.set_fact:
    pkg_type: "rpm"
  when: ansible_facts.distribution in ["RedHat", "CentOS", "Fedora", "OracleLinux"]

- name: Check if package type is deb
  ansible.builtin.set_fact:
    pkg_type: "deb"
    pkg_manager: "apt"
  when: ansible_facts.distribution in ["Debian", "Ubuntu", "Kali"]

- name: Fail if package type is not defined
  ansible.builtin.fail:
    msg: Coult not determin installation package type.
  when: pkg_type is undefined

- name: Check if package manager is dnf (for rpm)
  ansible.builtin.set_fact:
    pkg_manager: dnf
  when: pkg_type == 'rpm' and (
          ansible_facts.distribution == 'Fedora' or
          (ansible_facts.distribution in ['CentOS', 'RedHat'] and ansible_facts.distribution_major_version | int > 7)
        )

- name: Check if package manager is yum (for rpm)
  ansible.builtin.set_fact:
    pkg_manager: yum
  when: pkg_type == 'rpm' and (
          ansible_facts.distribution == 'OracleLinux'
          or (ansible_facts.distribution in ['CentOS', 'RedHat'] and ansible_facts.distribution_major_version | int < 8)
        )

- name: Fail if package manager is not defined
  ansible.builtin.fail:
    msg: Could not determine installation package manager.
  when: pkg_manager is undefined

- name: Create destination directory
  ansible.builtin.file:
    path: '{{ local_pkg_path }}'
    mode: '0755'
    state: directory

- name: Download installation package
  ansible.builtin.get_url:
    url: '{{ install_pkg_url }}/uamsclient.{{ pkg_type }}'
    dest: '{{ local_pkg_path }}/uamsclient.{{ pkg_type }}'
    mode: '440'
