---
- name: Validate inputs
  ansible.builtin.include_tasks: validate-inputs.yml
  tags:
    - always

- name: Check OS support
  ansible.builtin.include_tasks: os-support-check.yml
  tags:
    - always

- name: Check OS support
  ansible.builtin.include_tasks: set-pkg-manager.yml
  when: ansible_facts.os_family != 'Windows'
  tags:
    - always

- name: Check available installation package
  ansible.builtin.include_tasks: check-available-version.yml

- name: Check existing installation (Linux)
  ansible.builtin.include_tasks: check-existing-installation-linux.yml
  when: ansible_facts.os_family != 'Windows'
  tags:
    - always

- name: Retrieve installation package
  ansible.builtin.include_tasks: get-pkg.yml
  when: install_new_version and ansible_facts.os_family != 'Windows'

- name: Install UAMS Client package
  ansible.builtin.include_tasks: install-pkg.yml
  when: install_new_version and ansible_facts.os_family != 'Windows' and not dev_container_test

- name: Install UAMS Client package (test in container)
  ansible.builtin.include_tasks: install-pkg-in-container.yml
  when: install_new_version and ansible_facts.os_family != 'Windows' and dev_container_test

- name: Validate installation
  ansible.builtin.include_tasks: check-status.yml
  when: install_new_version and ansible_facts.os_family != 'Windows'

- name: Prechecks for UAMS Client installation on Windows
  ansible.builtin.include_tasks: install-windows-precheck.yml
  when: ansible_facts.os_family == 'Windows'

- name: Install UAMS Client on Windows
  ansible.builtin.include_tasks: install-windows.yml
  when: install_new_version and ansible_facts.os_family == 'Windows'

- name: Postcheck for UAMS Client installation on Windows
  ansible.builtin.include_tasks: install-windows-check-status.yml
  when: install_new_version and ansible_facts.os_family == 'Windows'

- name: Postcheck plugin credentials-plugin
  ansible.builtin.include_tasks: check-plugin-status.yml
  vars:
    plugin: credentials-plugin
    instance: ""
  tags:
    - plugins_check

- name: Postcheck plugin uams-otel-collector-plugin
  ansible.builtin.include_tasks: check-plugin-status.yml
  vars:
    plugin: uams-otel-collector-plugin
    instance: hostmetrics-monitoring
  when: "'host-monitoring' in ansible_env.UAMS_METADATA"
  tags:
    - plugins_check

- name: Uninstall UAMS Client on Windows
  ansible.builtin.include_tasks: uninstall-client-windows.yml
  when: ansible_facts.os_family == 'Windows' and 'uninstall' in ansible_run_tags
  tags:
    - uninstall

- name: Uninstall UAMS Client on Linux
  ansible.builtin.include_tasks: uninstall-client-linux.yml
  when: ansible_facts.os_family != 'Windows' and 'uninstall' in ansible_run_tags
  tags:
    - uninstall

- name: Deploy database monitoring
  ansible.builtin.include_tasks: dbo.yml
  when: ansible_facts.os_family != 'Windows' and 'dbo' in ansible_run_tags
  tags:
    - dbo
