---
- name: Check if package type is deb
  ansible.builtin.set_fact:
    pkg_type: 'deb'
    pkg_manager: 'apt'
    command_if_uams_installed: dpkg-query -l uamsclient | tail -n1 | awk '{print $3}' | cut -d- -f1
  when: ansible_facts.distribution in ['Debian', 'Ubuntu', 'Kali']

- name: Check if package type is rpm
  ansible.builtin.set_fact:
    pkg_type: 'rpm'
  when: ansible_facts.distribution in ['RedHat', 'CentOS', 'Fedora', 'OracleLinux', 'Amazon', 'Rocky']

- name: Check if package manager is dnf (for rpm)
  ansible.builtin.set_fact:
    pkg_manager: dnf
    command_if_uams_installed: dnf list --installed | grep uams | awk '{print $2}' | cut -f1 -d-
  when: pkg_type == 'rpm' and (
          ansible_facts.distribution == 'Fedora'
          or (ansible_facts.distribution in ['CentOS', 'RedHat'] and ansible_facts.distribution_major_version | int > 7)
          or (ansible_facts.distribution in ['Amazon'] and ansible_facts.distribution_major_version | int > 2000)
        )

- name: Check if package manager is yum (for rpm)
  ansible.builtin.set_fact:
    pkg_manager: yum
    command_if_uams_installed: yum list | grep uamsclient | awk '{print $2}' | cut -f1 -d-
  when: pkg_type == 'rpm' and (
          ansible_facts.distribution in ['OracleLinux', 'Rocky']
          or (ansible_facts.distribution in ['CentOS', 'RedHat'] and ansible_facts.distribution_major_version | int < 8)
          or (ansible_facts.distribution in ['Amazon'] and ansible_facts.distribution_major_version | int < 2000)
        )

- name: Fail if package manager is not defined
  ansible.builtin.fail:
    msg: Could not determine installation package manager.
  when: pkg_manager is undefined
