version: 2.1

filters: &filters-test-jobs
  tags:
    only: /.*/

commands:
  verify-install-container:
    steps:
      - run: /opt/solarwinds/uamsclient/sbin/uamsclient version
  verify-install-vm:
    steps:
      - run: ps -aux | grep "uamsclient start" | grep -v grep
  install-client:
    parameters:
      in_container:
        type: boolean
        default: true
      galaxy:
        type: boolean
        default: false
    steps:
      - checkout
      - run: |
          if [[ "<< parameters.galaxy >>" == "true" ]]; then
            echo "Installing uamsclient role from Ansible Galaxy"
            ansible-galaxy install solarwinds.uamsclient
            test_playbook="ci_test/playbook_galaxy.yaml"
          else
            echo "Using uamsclient role from github"
            test_playbook="ci_test/playbook_github.yaml"
          fi
          cp ${test_playbook} ./playbook.yaml
          cp ci_test/inventory/localhost ./hosts
          ansible-playbook playbook.yaml -vvv -i hosts -e install_pkg_url='https://agent-binaries.global.dev-ssp.solarwinds.com/uams/latest' -e uams_access_token=dummytoken -e uams_metadata="role:host-monitoring" -e swo_url="dc-01.cloud.solarwinds.com" -e '{ "dev_container_test": << parameters.in_container >> }'

  install-ansible-deb:
    steps:
      - run: |
          export LANG=C.UTF-8
          export LC_ALL=C.UTF-8
          apt update
          apt install python3-pip -y
          apt install curl -y
          pip3 install ansible

  install-ansible-deb-vm:
    steps:
      - run: |
          export LANG=C.UTF-8
          export LC_ALL=C.UTF-8
          sudo apt update
          sudo apt install python3-pip -y
          sudo apt install curl -y
          pip3 install ansible

  install-ansible-redhat:
    steps:
      - run: |
          yum -y install epel-release
          yum -y install ansible

  install-ansible-fedora:
    steps:
      - run: |
          dnf -y install ansible

  install-ansible-oraclelinux:
    steps:
      - checkout
      - run: |
          release=$(cat /etc/oracle-release | cut -d' ' -f5 | cut -d. -f1)
          yum -y install "oracle-epel-release-el$release"
          yum -y install ansible

jobs:
  ansible-lint:
    docker:
      - image: python:bullseye
    steps:
      - checkout
      - run: pip install ansible-lint==6.18.0
      - run: ansible-galaxy install solarwinds.uamsclient
      - run: ansible-lint --ignore-file .config/ansible-lint-ignore.txt

  release-to-ansible-galaxy:
    docker:
      - image: ubuntu:jammy
    steps:
      - install-ansible-deb
      - run: |
          ansible-galaxy role import --token ${ANSIBLE_GALAXY_TOKEN} --branch master --role-name  solarwinds.uamsclient solarwinds uamsclient

  test-install-ubuntu-focal:
    docker:
      - image: ubuntu:focal
    steps:
      - install-ansible-deb
      - install-client
      - verify-install-container

  test-install-ubuntu-focal-vm:
    machine:
      image: ubuntu-2004:current
    parameters:
      galaxy:
        type: boolean
        default: false
    steps:
      - install-ansible-deb-vm
      - install-client:
          in_container: false
          galaxy: << parameters.galaxy >>
      - verify-install-vm

  test-install-ubuntu-jammy:
    docker:
      - image: ubuntu:jammy
    steps:
      - install-ansible-deb
      - install-client
      - verify-install-container

  test-install-debian-stretch:
    docker:
      - image: debian:stretch
    steps:
      - install-ansible-deb
      - install-client
      - verify-install-container

  test-install-debian-buster:
    docker:
      - image: debian:buster
    steps:
      - install-ansible-deb
      - install-client
      - verify-install-container

  test-install-debian-bullseye:
    docker:
      - image: debian:bullseye
    steps:
      - install-ansible-deb
      - install-client
      - verify-install-container

  test-install-centos-7:
    docker:
      - image: centos:centos7
    steps:
      - install-ansible-redhat
      - install-client
      - verify-install-container

  test-install-fedora-32:
    docker:
      - image: fedora:32
    steps:
      - install-ansible-fedora
      - install-client
      - verify-install-container

  test-install-fedora-36:
    docker:
      - image: fedora:36
    steps:
      - install-ansible-fedora
      - install-client
      - verify-install-container

  test-install-kali:
    docker:
      - image: kalilinux/kali-last-release
    steps:
      - install-ansible-deb
      - install-client
      - verify-install-container

  test-install-oracle-8:
    docker:
      - image: oraclelinux:8
    steps:
      - install-ansible-oraclelinux
      - install-client
      - verify-install-container

  test-install-oracle-9:
    docker:
      - image: oraclelinux:9
    steps:
      - install-ansible-oraclelinux
      - install-client
      - verify-install-container

workflows:
  test-and-release-uamsclient-role:
    jobs:
      - ansible-lint:
          filters: *filters-test-jobs
      - test-install-ubuntu-focal:
          filters: *filters-test-jobs
      - test-install-ubuntu-focal-vm:
          filters: *filters-test-jobs
      - test-install-ubuntu-jammy:
          filters: *filters-test-jobs
      - test-install-debian-stretch:
          filters: *filters-test-jobs
      - test-install-debian-buster:
          filters: *filters-test-jobs
      - test-install-debian-bullseye:
          filters: *filters-test-jobs
      - test-install-centos-7:
          filters: *filters-test-jobs
      - test-install-fedora-32:
          filters: *filters-test-jobs
      - test-install-fedora-36:
          filters: *filters-test-jobs
      - test-install-kali:
          filters: *filters-test-jobs
      - test-install-oracle-8:
          filters: *filters-test-jobs
      - test-install-oracle-9:
          filters: *filters-test-jobs
      - release-to-ansible-galaxy:
          requires:
            - ansible-lint
            - test-install-ubuntu-focal
            - test-install-ubuntu-focal-vm
            - test-install-ubuntu-jammy
            - test-install-debian-stretch
            - test-install-debian-buster
            - test-install-debian-bullseye
            - test-install-centos-7
            - test-install-fedora-32
            - test-install-fedora-36
            - test-install-kali
            - test-install-oracle-8
            - test-install-oracle-9
          context:
            - uams-ansible-galaxy
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /^[0-9]+\.[0-9]+\.[0-9]+$/

  test-galaxy-nightly:
    triggers:
      - schedule:
          cron: "0 0 * * *"
          filters:
            branches:
              only:
                - master
    jobs:
      - test-install-ubuntu-focal-vm:
          galaxy: true
