---
version: 2.1

filters: &filters-test-jobs
  tags:
    only: /.*/

commands:
  verify-install-container:
    steps:
      - run: /opt/solarwinds/uamsclient/sbin/uamsclient version
  verify-install-vm:
    steps:
      - run: ps -aux | grep "uamsclient start" | grep -v grep
  verify-uninstall:
    steps:
      - run: if [ -d "/opt/solarwinds/uamsclient" ]; then exit 1; fi
  install-client:
    parameters:
      in_container:
        type: boolean
        default: true
      galaxy:
        type: boolean
        default: false
    steps:
      - checkout
      - run: |
          if [[ "<< parameters.galaxy >>" == "true" ]]; then
            echo "Installing uamsclient role from Ansible Galaxy"
            ansible-galaxy install solarwinds.uamsclient
            test_playbook="ci_test/playbook_galaxy.yaml"
          else
            echo "Using uamsclient role from github"
            test_playbook="ci_test/playbook_github.yaml"
          fi
          cp ${test_playbook} ./playbook.yaml
          cp ci_test/inventory/localhost ./hosts
          ansible-playbook playbook.yaml -vvv -i hosts -e install_pkg_url='https://agent-binaries.global.dev-ssp.solarwinds.com/uams/latest' -e uams_access_token=dummytoken -e uams_metadata="role:host-monitoring" -e swo_url="dc-01.cloud.solarwinds.com" -e '{ "dev_container_test": << parameters.in_container >> }' --skip-tags plugins_check,dbo
  uninstall-client:
    parameters:
      in_container:
        type: boolean
        default: true
      galaxy:
        type: boolean
        default: false
    steps:
      - run: |
          if [[ "<< parameters.galaxy >>" == "true" ]]; then
            echo "Installing uamsclient role from Ansible Galaxy"
            ansible-galaxy install solarwinds.uamsclient
            test_playbook="ci_test/playbook_uninstall_galaxy.yaml"
          else
            echo "Using uamsclient role from github"
            test_playbook="ci_test/playbook_uninstall_github.yaml"
          fi
          cp ${test_playbook} ./playbook.yaml
          cp ci_test/inventory/localhost ./hosts
          ansible-playbook playbook.yaml -vvv -i hosts -e '{ "dev_container_test": << parameters.in_container >> }' --tags uninstall
  install-ansible-deb:
    steps:
      - run: |
          export DEBIAN_FRONTEND=noninteractive
          export LANG=C.UTF-8
          export LC_ALL=C.UTF-8
          apt update && sudo apt-get upgrade
          apt install python3-pip -y
          apt install curl -y
          pip3 install ansible

  install-ansible-deb-buster:
    steps:
      - run: |
          export LANG=C.UTF-8
          export LC_ALL=C.UTF-8
          apt update
          apt install python3-pip -y
          apt install curl -y
          apt-get install ansible -y
          ANSIBLE_SKIP_CONFLICT_CHECK=1 pip3 install ansible-core

  install-ansible-deb-lunar-bookworm:
    steps:
      - run: |
          export LANG=C.UTF-8
          export LC_ALL=C.UTF-8
          export DEBIAN_FRONTEND=noninteractive
          export TZ=Etc/UTC
          apt update
          apt install python3-pip -y
          apt install curl -y
          apt install ansible -y

  install-ansible-deb-stretch:
    steps:
      - run: |
          sed -i -e 's/deb.debian.org/archive.debian.org/g' -e 's|security.debian.org|archive.debian.org/|g' -e '/stretch-updates/d' /etc/apt/sources.list
          apt update
          export LANG=C.UTF-8
          export LC_ALL=C.UTF-8
          apt install python3-pip -y
          apt install curl -y
          apt install ansible -y
          pip3 install ansible-core

  install-ansible-deb-vm:
    steps:
      - run: |
          export LANG=C.UTF-8
          export LC_ALL=C.UTF-8
          sudo apt update
          sudo apt install python3-pip -y
          sudo apt install curl -y
          pip3 install ansible

  install-ansible-redhat:
    steps:
      - run: |
          sed -i s/mirror.centos.org/vault.centos.org/g /etc/yum.repos.d/*.repo
          sed -i s/^#.*baseurl=http/baseurl=http/g /etc/yum.repos.d/*.repo
          sed -i s/^mirrorlist=http/#mirrorlist=http/g /etc/yum.repos.d/*.repo
          yum -y install epel-release
          yum -y install ansible

  install-ansible-fedora:
    steps:
      - run: |
          dnf -y install ansible

  install-ansible-oraclelinux:
    steps:
      - checkout
      - run: |
          release=$(cat /etc/oracle-release | cut -d' ' -f5 | cut -d. -f1)
          yum -y install "oracle-epel-release-el$release"
          yum -y install ansible

jobs:
  ansible-lint:
    docker:
      - image: python:bullseye
    steps:
      - checkout
      - run: pip install ansible-lint==24.2.0
      - run: ansible-galaxy install solarwinds.uamsclient
      - run: ansible-lint

  release-to-ansible-galaxy:
    docker:
      - image: ubuntu:jammy
    steps:
      - install-ansible-deb
      - run: |
          ansible-galaxy role import --token ${ANSIBLE_GALAXY_TOKEN} --branch master --role-name uamsclient solarwinds uamsclient-ansible

  test-install-and-uninstall-ubuntu-focal:
    docker:
      - image: ubuntu:focal
    steps:
      - install-ansible-deb
      - install-client
      - verify-install-container
      - uninstall-client
      - verify-uninstall

  test-install-and-uninstall-ubuntu-lunar:
    docker:
      - image: ubuntu:lunar
    steps:
      - install-ansible-deb-lunar-bookworm
      - install-client
      - verify-install-container
      - uninstall-client
      - verify-uninstall

  test-install-and-uninstall-ubuntu-focal-vm:
    machine:
      image: ubuntu-2004:current
    parameters:
      galaxy:
        type: boolean
        default: false
    steps:
      - install-ansible-deb-vm
      - install-client:
          in_container: false
          galaxy: << parameters.galaxy >>
      - verify-install-vm
      - uninstall-client
      - verify-uninstall

  test-install-and-uninstall-ubuntu-jammy:
    docker:
      - image: ubuntu:jammy
    steps:
      - install-ansible-deb
      - install-client
      - verify-install-container
      - uninstall-client
      - verify-uninstall

  test-install-and-uninstall-debian-stretch:
    docker:
      - image: debian:stretch
    steps:
      - install-ansible-deb-stretch
      - install-client
      - verify-install-container
      - uninstall-client
      - verify-uninstall

  test-install-and-uninstall-debian-buster:
    docker:
      - image: debian:buster
    steps:
      - install-ansible-deb-buster
      - install-client
      - verify-install-container
      - uninstall-client
      - verify-uninstall

  test-install-and-uninstall-debian-bullseye:
    docker:
      - image: debian:bullseye
    steps:
      - install-ansible-deb
      - install-client
      - verify-install-container
      - uninstall-client
      - verify-uninstall

  test-install-and-uninstall-debian-bookworm:
    docker:
      - image: debian:bookworm
    steps:
      - install-ansible-deb-lunar-bookworm
      - install-client
      - verify-install-container
      - uninstall-client
      - verify-uninstall

  test-install-and-uninstall-centos-7:
    docker:
      - image: centos:centos7
    steps:
      - install-ansible-redhat
      - install-client
      - verify-install-container
      - uninstall-client
      - verify-uninstall

  test-install-and-uninstall-fedora-32:
    docker:
      - image: fedora:32
    steps:
      - install-ansible-fedora
      - install-client
      - verify-install-container
      - uninstall-client
      - verify-uninstall

  test-install-and-uninstall-fedora-36:
    docker:
      - image: fedora:36
    steps:
      - install-ansible-fedora
      - install-client
      - verify-install-container
      - uninstall-client
      - verify-uninstall

  test-install-and-uninstall-fedora-38:
    docker:
      - image: fedora:38
    steps:
      - install-ansible-fedora
      - install-client
      - verify-install-container
      - uninstall-client
      - verify-uninstall

  test-install-and-uninstall-kali:
    docker:
      - image: kalilinux/kali-last-release
    steps:
      - install-ansible-deb
      - install-client
      - verify-install-container
      - uninstall-client
      - verify-uninstall

  test-install-and-uninstall-oracle-8:
    docker:
      - image: oraclelinux:8
    steps:
      - install-ansible-oraclelinux
      - install-client
      - verify-install-container
      - uninstall-client
      - verify-uninstall

  test-install-and-uninstall-oracle-9:
    docker:
      - image: oraclelinux:9
    steps:
      - install-ansible-oraclelinux
      - install-client
      - verify-install-container
      - uninstall-client
      - verify-uninstall

workflows:
  test-and-release-uamsclient-role:
    jobs:
      - ansible-lint:
          filters: *filters-test-jobs
      - test-install-and-uninstall-ubuntu-focal:
          filters: *filters-test-jobs
      - test-install-and-uninstall-ubuntu-focal-vm:
          filters: *filters-test-jobs
      - test-install-and-uninstall-ubuntu-jammy:
          filters: *filters-test-jobs
      - test-install-and-uninstall-ubuntu-lunar:
          filters: *filters-test-jobs
      - test-install-and-uninstall-debian-stretch:
          filters: *filters-test-jobs
      - test-install-and-uninstall-debian-buster:
          filters: *filters-test-jobs
      - test-install-and-uninstall-debian-bullseye:
          filters: *filters-test-jobs
      - test-install-and-uninstall-debian-bookworm:
          filters: *filters-test-jobs
      - test-install-and-uninstall-centos-7:
          filters: *filters-test-jobs
      - test-install-and-uninstall-fedora-32:
          filters: *filters-test-jobs
      - test-install-and-uninstall-fedora-36:
          filters: *filters-test-jobs
      - test-install-and-uninstall-fedora-38:
          filters: *filters-test-jobs
      - test-install-and-uninstall-kali:
          filters: *filters-test-jobs
      - test-install-and-uninstall-oracle-8:
          filters: *filters-test-jobs
      - test-install-and-uninstall-oracle-9:
          filters: *filters-test-jobs
      - release-to-ansible-galaxy:
          requires:
            - ansible-lint
            - test-install-and-uninstall-ubuntu-focal
            - test-install-and-uninstall-ubuntu-focal-vm
            - test-install-and-uninstall-ubuntu-jammy
            - test-install-and-uninstall-ubuntu-lunar
            - test-install-and-uninstall-debian-stretch
            - test-install-and-uninstall-debian-buster
            - test-install-and-uninstall-debian-bullseye
            - test-install-and-uninstall-debian-bookworm
            - test-install-and-uninstall-centos-7
            - test-install-and-uninstall-fedora-32
            - test-install-and-uninstall-fedora-36
            - test-install-and-uninstall-fedora-38
            - test-install-and-uninstall-kali
            - test-install-and-uninstall-oracle-8
            - test-install-and-uninstall-oracle-9
          context:
            - uams-ansible-galaxy
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /^[0-9]+\.[0-9]+\.[0-9]+$/

  test-galaxy-nightly:
    triggers:
      - schedule:
          cron: "0 0 * * *"
          filters:
            branches:
              only:
                - master
    jobs:
      - test-install-and-uninstall-ubuntu-focal-vm:
          galaxy: true
