# Example credentials configuration file used with managed locally Agent
credentials:
  aws-secrets-manager:
    auth:
      type: static
      access-key-id: {{ access_key_id }}
      secret-access-key: {{ secret_access_key }}
      region: us-east-1