[
  {
    "agentID": "{{ uamsclientid }}",
    "dbAgents": [
      {% for dbAgent in dbAgents %}
      {
        "databaseType": "{{ dbAgent.databaseType }}",
        "name": "{{ dbAgent.name }}",
        "host": "{{ dbAgent.host }}",
        "port": "{{ dbAgent.port }}",
        "user": "{{ dbAgent.user }}",
        "password": "{{ dbAgent.password }}",
        "packetCaptureEnabled": {{ dbAgent.packetCaptureEnabled | lower }},
        {% if dbAgent.metricsCaptureMethod is defined %}
        "metricsCaptureMethod": "{{ dbAgent.metricsCaptureMethod }}",
        {% endif %}
      }{% if not loop.last %},{% endif %}
      {% endfor %}
    ]
  }
]
