[
  {
    "agentID": "{{ uamsclientid }}",
    "dbAgents": [
      {% for db in dbo_plugin %}
      {
        "databaseType": "{{ db.databaseType }}",
        "name": "{{ db.name }}",
        "host": "{{ db.host }}",
        "port": "{{ db.port }}",
        "user": "{{ db.user }}",
        "password": "{{ db.password }}",
        "packetCaptureEnabled": {{ db.packetCaptureEnabled | default(false) | lower }},
        "metricsCaptureMethod": "{{ db.metricsCaptureMethod | default('') }}"
      }{% if not loop.last %},{% endif %}
      {% endfor %}
    ]
  }
]
