[
  {
    "agentID": "{{ uamsclientid }}",
    "dbAgents": [
      {
        "databaseType": "{{ dbo_plugin.databaseType }}",
        "name": "{{ dbo_plugin.name }}",
        "host": "{{ dbo_plugin.host }}",
        "port": "{{ dbo_plugin.port }}",
        "user": "{{ dbo_plugin.user }}",
        "password": "{{ dbo_plugin.password }}",
        "packetCaptureEnabled": {{ dbo_plugin.packetCaptureEnabled | default(false) | lower }},
        "metricsCaptureMethod": "{{ dbo_plugin.metricsCaptureMethod | default('') }}"
      }
    ]
  }
]
