# Example configuration file used with managed locally Agent
integrations:
  otel/hostmetrics:
    - name: host-monitoring
  dbo/mysql:
    - name: off-host-mysql
      host: {{ mysql_host }}
      port: 3306
      user: {{ mysql_user }}
      password:
        value-from:
          provider: aws-secrets-manager
          secret-name: {{ secret_name }}
      packet-capture-enabled: false
